.video_link {
  margin: 1.3rem;
  margin-top: 1.5rem;
  color: black;
}
.video-card-detail {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem 0.5rem;
}
.video-title {
  padding: 0 0.5rem;
}
.video {
  position: relative;
}
.cards {
  justify-content: center;
}
.ellipsis-btn {
  position: absolute;
  right: 0.5rem;
  bottom: 2.4rem;
  cursor: pointer;
  padding: 0.5rem;
  background: none;
}
.fa-spin {
  text-align: center;
  margin: 0 40vw;
  margin-top: 5rem;
}
@media only screen and (min-width: 940px) {
  .video_link {
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 675px) {
  .video_link {
    margin: 0.2rem 0;
  }
}

@media only screen and (min-width: 1100px) {
  .other-videos .cards .video_link {
    width: 100%;
    margin: 0.3rem;
  }
}

@media only screen and (max-width: 899px) {
  .other-videos .cards .video_link {
    width: 100%;
    margin: 0.3rem 1rem;
  }
}

@media only screen and (max-width: 1099px) and (min-width: 900px) {
  .other-videos .cards .video_link {
    width: 100%;
    margin: 0.3rem 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .other-videos .cards .video_link {
    margin: 1rem 0;
  }
}
