.playlist {
  padding: 0.5rem 1rem;
  overflow-x: hidden;
  cursor: pointer;
}
.new_playlist {
  overflow-x: hidden;
}
.playlist_name {
  padding-left: 1rem;
}
.btn_create {
  display: flex;
  flex-direction: row-reverse;
}
.btn_add_new_playlist {
  color: #2874f0;
  font-size: large;
  margin-right: 0.5rem;
  padding-top: 0.5rem;
  background: none;
}
