.nav__bar {
  width: 13rem;
  z-index: 3;
  top: 3.5rem;
}
.nav-icon {
  padding: 0;
  width: 18px !important;
}
.nav__bar .nav-name {
  display: inline-block;
}
.nav__item {
  color: black;
}
@media only screen and (min-width: 940px) {
  .nav__bar {
    grid-area: nav;
  }
  .show-nav-bar {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 940px) {
  .nav__bar {
    transform: translateX(-100%);
  }
  .show-nav-bar {
    transform: translateX(0);
  }
  .menu-btn {
    display: flex;
  }
}
