.avatar-sm {
  width: 2.5rem;
  height: 2.5rem;
}
.search_box {
  padding: 0.5em;
  border-radius: 0;
}
.back-icon {
  font-size: larger;
  top: 1.7rem;
}
.srch-icon {
  font-size: larger;
}
.logo-text {
  font-size: x-large;
}
.logo {
  font-size: x-large;
}
.page_header {
  height: 3.5rem;
}
.user-menu {
  display: block;
  left: -89px;
  top: 3.3rem;
  z-index: 0;
}
.single-letter-avatar {
  padding: 0.5rem;
}
@media only screen and (max-width: 550px) {
  .avatar-sm {
    width: 3rem;
    height: 3rem;
  }
  .search-icon-menu {
    font-size: larger;
    color: #2874f0;
  }
  .logo-text {
    font-size: larger;
  }
  .logo {
    font-size: larger;
  }
  .user {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 550px) {
  .menu_search {
    display: flex;
  }
  .search-icon-menu {
    display: none;
  }
  .youtube-video-sm-screen {
    display: none;
  }
}
@media only screen and (max-width: 940px) {
  .menu-btn {
    display: flex;
  }
}
