@import "https://fluidcssv2.netlify.app/styles.css";
body {
  background-color: #f7f3f39f;
}
.badges {
  background-color: inherit;
  padding: none;
}
.nav__item {
  color: black;
}
.video {
  position: relative;
}
.modal {
  position: fixed;
  top: 15rem;
  z-index: 2;
}
.close-modal {
  cursor: pointer;
}
.ellipsis-btn {
  position: absolute;
  right: 0.5rem;
  bottom: 2.4rem;
  cursor: pointer;
  padding: 0.5rem;
  background: none;
}
.heading .h1 {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delete-playlist {
  width: 22px !important;
  height: 22px;
  color: #606060;
  margin-right: 1rem;
}
hr {
  margin: 1rem 0;
}
.page_header {
  height: 3.5rem;
}
h2 {
  margin: 0;
  margin-top: 0.5rem;
}
.main-content {
  margin-top: 3.5rem;
}
.content {
  height: 90%;
  margin: 3.5rem 1rem;
  margin-left: 15rem;
  overflow: auto;
}
.back-icon {
  font-size: larger;
  top: 1.7rem;
}
.srch-icon {
  font-size: larger;
}
.nav__bar {
  width: 13rem;
  z-index: 3;
  top: 3.5rem;
}
.card-text-title,
.desc {
  flex-grow: 1;
}

.logo-text {
  font-size: x-large;
}
.logo {
  font-size: x-large;
}
.card-img {
  height: initial;
}
.card-with-text {
  /* background-color: #f3f4f6; */
  width: 280px;
  margin: 0rem;
  height: 100%;
  height: 290px;
}
.horizontal-card-with-text {
  height: initial;
}
.video_link {
  margin: 1.3rem;
  margin-top: 1.5rem;
  color: black;
}
.cards {
  justify-content: center;
}
.video-card-detail {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem 0.5rem;
}
.card-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem 0.5rem;
}
.video-title {
  padding: 0 0.5rem;
}
.textbox {
  padding-left: 0.5rem;
  outline: none;
  margin: 0;
  border: none;
}
.btn-text {
  font-size: larger;
}
.stacked-list-item:first-child {
  border-bottom: 0.1rem solid var(--stacked-list-border-color);
  position: relative;
}

.search_box {
  padding: 0.5em;
  border-radius: 0;
}

.nav-icon {
  padding: 0;
  width: 18px !important;
}
.other-videos .cards .video_link {
  margin: 0.5rem;
}
.other-videos .cards .card {
  box-shadow: none;
  margin: 0;
}
.current-video {
  margin-top: 1rem;
  margin-left: 1rem;
}
.empty-playlist {
  margin: 4rem;
}
.horizontal-card-details {
  border: none;
  display: flex;
  flex-direction: column;
}
.card {
  border-radius: 0;
}
.other-videos .cards {
  justify-content: flex-start;
}
.stats {
  display: flex;
  justify-content: space-around;
}
.stat {
  display: flex;
  margin-right: 1rem;
  align-items: center;
  cursor: pointer;
}
.stat-icon {
  width: 22px !important;
  height: 22px;
  color: #606060;
}
.selected-stat-icon {
  color: #2874f0;
}
.stat-count {
  padding-left: 0.5rem;
  color: #606060;
  height: 17px;
  font-size: 14px;
}
.video-page {
  background-color: #f7f3f39f;
  margin-top: 3.5rem;
}
.avatar-sm {
  width: 2.5rem;
  height: 2.5rem;
}
.current-video-img {
  width: 100%;
  height: 480px;
}
.save_video_modal {
  position: fixed;
  top: 7rem;
  z-index: 6;
  width: 100%;
}
.playlist_modal {
  margin: 0 auto;
  border: 1px solid gray;
  background-color: #c4c2c2;
  width: 250px;
}
.playist_modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 0.8rem 1rem;
}
.playist_modal_footer {
  border-top: 1px solid gray;
  padding: 0.8rem 0.5rem;
}
.playlist {
  padding: 0.5rem 1rem;
  overflow-x: hidden;
  cursor: pointer;
}
.new_playlist {
  overflow-x: hidden;
}
.playlist_name {
  padding-left: 1rem;
}
.btn_create {
  display: flex;
  flex-direction: row-reverse;
}
.btn_add_new_playlist {
  color: #2874f0;
  font-size: large;
  margin-right: 0.5rem;
  padding-top: 0.5rem;
  background: none;
}
.horizontal-card-img {
  width: 100%;
  height: 100%;
}
.library .card {
  margin-left: 0;
  margin-right: 0;
}
.nav__bar .nav-name {
  display: inline-block;
}

@media only screen and (min-width: 940px) {
  .main-content {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-areas: "nav content";
  }
  .nav__bar {
    grid-area: nav;
  }
  .show-nav-bar {
    transform: translateX(0);
  }
  .content {
    grid-area: content;
    position: static;
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .video_link {
    margin: 0.5rem;
  }
}
@media only screen and (max-width: 940px) {
  .nav__bar {
    transform: translateX(-100%);
  }
  .show-nav-bar {
    transform: translateX(0);
  }
  .content {
    margin-left: 1rem;
  }
  .menu-btn {
    display: flex;
  }
}
@media only screen and (min-width: 500px) {
  /* .stat {
    flex-direction: column;
    align-content: space-between;
    height: 40px;
  } */
  .current-video-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }
  .current-video-view-count {
    display: flex;
    font-size: small;
  }
}
@media only screen and (max-width: 500px) {
  .current-video-details {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }
  .current-video-view-count {
    display: flex;
    font-size: small;
  }
  .stats {
    padding-top: 1rem;
  }
}
@media only screen and (min-width: 550px) {
  .menu_search {
    display: flex;
  }
  .search-icon-menu {
    display: none;
  }
  .youtube-video-sm-screen {
    display: none;
  }
  .youtube-video {
    display: block;
  }
  .current-video {
    margin: 0;
  }
}
@media only screen and (max-width: 550px) {
  .search-icon-menu {
    font-size: larger;
    color: #2874f0;
  }
  .logo-text {
    font-size: larger;
  }
  .logo {
    font-size: larger;
  }
  .user {
    display: flex;

    justify-content: space-between;
  }
  .avatar-sm {
    width: 3rem;
    height: 3rem;
  }
  .current-video-img {
    height: 15rem;
  }
  .current-video {
    background-color: white;
    margin: 0;
  }
  .youtube-video-sm-screen {
    position: sticky;
    top: 0;
    z-index: 6;
  }
  .youtube-video {
    display: none;
  }
}
@media only screen and (max-width: 675px) {
  .card-text {
    width: 100%;
    height: 100%;
  }
  .card-with-text {
    border-radius: unset;
  }
  .video_link {
    margin: 0.2rem 0;
  }
  .content {
    margin-left: 0;
    margin-right: 0;
  }
  .stats {
    height: 50px;
  }
  .stat {
    flex-direction: column;
    align-content: space-between;
  }
  .stat-count {
    padding-left: 0;
    padding-top: 0.5rem;
  }
}
@media only screen and (min-width: 1100px) {
  .video-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "current other";
  }
  .other-videos {
    grid-area: other;
  }
  .current-video {
    grid-area: current;
  }
  .current-video-img {
    width: 100%;
    height: 480px;
  }
  .other-videos .cards {
    margin-top: 2rem;
    justify-content: flex-start;
  }

  .horizontal-card-with-text {
    width: 100%;
  }
  .horizontal-card-with-text .card-details {
    padding: 0.2rem 0.5rem;
  }
  .other-videos .cards .card .card-img {
    width: 50%;
    height: 8rem;
  }
  .youtube {
    margin: 1rem 2rem 1rem 2rem;
  }
  .other-videos .cards .video_link {
    width: 100%;
    margin: 0.3rem;
  }
  .library .horizontal-card-with-text {
    width: 80%;
    height: 200px;
    margin-left: 1rem;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 899px) {
  .video-page {
    display: flex;
    flex-direction: column;
  }
  .current-video-img {
    width: 100%;
  }
  .horizontal-card-with-text .card-details {
    padding: 0.2rem 0.5rem;
  }
  .other-videos .cards .card .card-img {
    width: 50%;
  }
  .other-videos .cards .video_link {
    width: 100%;
    margin: 0.3rem 1rem;
  }
  .other-videos {
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 900px) and (min-width: 600px) {
  .library .horizontal-card-with-text {
    width: 80%;
    height: 200px;
    margin-left: 1rem;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 700px) {
  /* .library .horizontal-card-with-text {
    width: 80%;
    height: 200px;
    margin-left: 1rem;
    margin-top: 2rem;
  } */
}
@media only screen and (max-width: 1099px) and (min-width: 900px) {
  .video-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "current other";
  }
  .other-videos {
    grid-area: other;
  }
  .other-videos .cards {
    margin-top: 4rem;
  }
  .current-video {
    grid-area: current;
  }
  .other-videos .cards .card .card-img {
    width: 100%;
  }
  .other-videos .cards .video_link {
    width: 100%;
    margin: 0.3rem 1.5rem;
  }
  .other-videos {
    margin-top: 1rem;
  }
  .horizontal-card-with-text {
    width: 100%;
  }
  .horizontal-card-with-text .card-details {
    display: none;
  }
  .library .horizontal-card-with-text {
    width: 80%;
    height: 200px;
    margin-left: 1rem;
    margin-top: 2rem;
  }
  .current-video {
    margin-top: 1rem;
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .logo-txt {
    display: none;
  }
  .other-videos .cards .card .card-img {
    width: 100%;
    height: 250px;
  }
  .other-videos .cards .video_link {
    margin: 1rem 0;
  }
}
