@import "https://fluidcssv2.netlify.app/styles.css";

.badges {
  background-color: inherit;
  padding: none;
}
.content {
  height: 90%;
  margin: 4.5rem 1rem;
  margin-left: 15rem;
  overflow: auto;
}
.back-icon {
  font-size: larger;
  top: 1.7rem;
}
.srch-icon {
  font-size: larger;
}
.nav__bar {
  width: 15rem;
}
.card-text-title,
.desc {
  color: black;
}
.logo-text {
  font-size: x-large;
}
.logo {
  font-size: x-large;
}
.card-img {
  height: initial;
}
.card-with-text {
  /* background-color: #f3f4f6; */
  width: 280px;
  margin: 0rem;
  height: 100%;
  height: 290px;
}
.horizontal-card-with-text {
  height: initial;
}
.video_link {
  margin: 1.3rem;
  margin-top: 1.5rem;
}
.cards {
  justify-content: center;
}
.card-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
}
.stacked-list-item {
  padding: 1rem;
}
.stacked-list-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.stacked-list-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.stacked-list-item .textbox {
  padding-left: 0.5rem;
  outline: none;
  border-radius: 6px;
  border: none;
  width: 11rem;
}
.btn-text {
  font-size: larger;
}
.stacked-list-item:first-child {
  border-bottom: 0.1rem solid var(--stacked-list-border-color);
  position: relative;
}
.search-box {
  width: 40rem;
  height: 2rem;
  border-radius: 9999px;
  margin-left: 6rem;
}

.nav-icon {
  padding: 0;
  width: 18px !important;
}
.other-videos .cards .video_link {
  margin: 0.5rem;
}
.other-videos .cards .card {
  box-shadow: none;
  margin: 0;
}
.current-video {
  margin-top: 2rem;
  margin-left: 1rem;
}
.card {
  border-radius: 0;
}
.other-videos .cards {
  justify-content: flex-start;
}
@media only screen and (max-width: 1200px) {
  .search-box {
    width: 25rem;
    height: 2rem;
    border-radius: 9999px;
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .logo-txt {
    display: none;
  }

  .search-box {
    width: 10rem;
    height: 2rem;
    border-radius: 9999px;
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 940px) {
  .nav__bar {
    transform: translateX(-100%);
  }
  .show-nav-bar {
    transform: translateX(0);
  }
  .content {
    margin-left: 1rem;
  }
  .menu-btn {
    display: flex;
  }
}
@media only screen and (min-width: 550px) {
  .menu_search {
    display: flex;
  }
  .search-icon-menu {
    display: none;
  }
}
@media only screen and (max-width: 550px) {
  .search-icon-menu {
    font-size: larger;
    color: #2874f0;
  }
  .logo-text {
    font-size: larger;
  }
  .logo {
    font-size: larger;
  }
  .user {
    display: flex;

    justify-content: space-between;
  }
  .avatar-sm {
    width: 3rem;
    height: 3rem;
  }
  .current-video-img {
    height: 15rem;
  }
  .current-video {
    position: sticky;
    top: 4rem;
    z-index: 2;
    background-color: white;
    margin: 0;
    margin-top: 0.4rem;
  }
}
@media only screen and (max-width: 675px) {
  .card-text {
    width: 100%;
    height: 100%;
  }
  .card-with-text {
    border-radius: unset;
  }
  .video_link {
    margin: 0.2rem 0;
  }
  .content {
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 1100px) {
  .video-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "current other";
  }
  .other-videos {
    grid-area: other;
  }
  .current-video {
    grid-area: current;
  }
  .current-video-img {
    width: 100%;
  }
  .other-videos .cards {
    margin-top: 5rem;
    justify-content: flex-start;
  }
  .horizontal-card-with-text {
    width: 100%;
  }
  .horizontal-card-with-text .card-details {
    padding: 0.2rem 0.5rem;
  }
  .other-videos .cards .card .card-img {
    width: 50%;
    height: 8rem;
  }
  .youtube {
    margin: 2rem 2rem 1rem 2rem;
  }
  .other-videos .cards .video_link {
    width: 100%;
    margin: 0.3rem;
  }
}
@media only screen and (max-width: 899px) {
  .video-page {
    display: flex;
    flex-direction: column;
  }
  .current-video-img {
    width: 100%;
  }
  .horizontal-card-with-text .card-details {
    padding: 0.2rem 0.5rem;
  }
  .other-videos .cards .card .card-img {
    width: 50%;
  }
  .other-videos .cards .video_link {
    width: 100%;
    margin: 0.3rem 2rem;
  }
  .other-videos {
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 1099px) and (min-width: 900px) {
  .video-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "current other";
  }
  .other-videos {
    grid-area: other;
  }
  .other-videos .cards {
    margin-top: 4rem;
  }
  .current-video {
    grid-area: current;
  }
  .other-videos .cards .card .card-img {
    width: 100%;
  }
  .other-videos .cards .video_link {
    width: 100%;
    margin: 0.3rem 2rem;
  }
  .other-videos {
    margin-top: 1rem;
  }
  .horizontal-card-with-text {
    width: 100%;
  }
  .horizontal-card-with-text .card-details {
    display: none;
  }
}
